*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0b0b0b;
color:#fff;
font-family:'Montserrat',sans-serif;
}

header{
width:100%;
height:80px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 40px;
border-bottom:1px solid #1f1f1f;
}

.logo{
font-size:28px;
font-weight:700;
letter-spacing:8px;
}

nav{
display:flex;
gap:35px;
}

nav a{
color:#999;
text-decoration:none;
font-size:14px;
transition:.3s;
}

nav a:hover{
color:#fff;
}

.hero{
height:55vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:70px;
letter-spacing:12px;
}

.hero p{
margin-top:20px;
color:#777;
font-size:18px;
}

.latest{
max-width:1100px;
margin:auto;
padding:60px 20px;
}

.latest h2{
font-size:22px;
margin-bottom:30px;
}

.empty{
border:1px solid #222;
background:#121212;
padding:40px;
text-align:center;
color:#666;
border-radius:10px;
}

footer{
margin-top:80px;
padding:30px;
display:flex;
justify-content:center;
gap:40px;
border-top:1px solid #222;
color:#777;
}

.player{
position:fixed;
bottom:0;
left:0;
width:100%;
height:70px;
background:#111;
border-top:1px solid #222;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 25px;
}

.player button{
width:42px;
height:42px;
border:none;
border-radius:50%;
background:white;
cursor:pointer;
font-size:16px;
}

.track{
color:#999;
}

@media(max-width:768px){

header{
padding:0 20px;
}

.logo{
font-size:22px;
letter-spacing:5px;
}

nav{
display:none;
}

.hero h1{
font-size:42px;
letter-spacing:6px;
}

}
.music-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

margin-top:40px;

}

.music-card{

background:#121212;

border:1px solid #1f1f1f;

border-radius:14px;

overflow:hidden;

}

.cover{

height:280px;

background:#1c1c1c;

display:flex;

justify-content:center;

align-items:center;

color:#555;

font-size:18px;

letter-spacing:2px;

}

.music-card h3{

padding:20px 20px 5px;

font-size:22px;

}

.music-card p{

padding:0 20px;

color:#777;

}

.buttons{

display:flex;

gap:10px;

padding:20px;

}

.play-btn{

flex:1;

height:45px;

background:#ffffff;

color:black;

border:none;

cursor:pointer;

font-weight:bold;

}

.download-btn{

flex:1;

height:45px;

background:#202020;

color:white;

border:1px solid #333;

cursor:pointer;

}
.hero-buttons{

margin-top:40px;

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.btn{

padding:15px 35px;

background:#ffffff;

color:#000;

text-decoration:none;

border-radius:8px;

font-weight:600;

transition:.3s;

}

.btn:hover{

opacity:.85;

}

.btn-outline{

padding:15px 35px;

border:1px solid #333;

color:white;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

.btn-outline:hover{

background:#1b1b1b;

}
